*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: rgb(63, 61, 61); */
    background: url('../img/fon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
ol,ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
section{
    margin-top: 100px;
}
.Request{
    text-align: center;
    margin-top: 80px;
    color: white;
}
.h1{
    font-size: 25px;
    color: white;
}
.box{
    margin: 0 auto;
    margin-top: 20px;
    width: 300px;
    height: 170px;
    text-align: center;
    background-color: transparent;
    border: 1px solid black;
    box-shadow: 0px 0px 30px 0px black;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
    input{
        margin: 8px 0;
    }
    button{
        display: block;
        margin: 0 auto;
    }
}
.box2{
    background-color: rgb(97, 97, 97);
}

input{
    height: 25px;
    border-radius: 10px;
    border: none;
    text-align: center;
}
.btnn{
    margin-bottom: 20px;
    background-color: rgb(23, 23, 219);
    color: white;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}
.btnn:hover{
    color: rgb(23, 23, 219);
    font-weight: 400px;
    background-color: #fff;
    border: 2px solid rgb(23, 23, 219);
    /* color: white;
    background-color: transparent;
    border: 2px solid rgb(23, 23, 219); */
    transition: all ease-in-out 1s;
}

.list{
    /* border: 1px solid black; */
    margin-top: 30px;
    width: 800px;  
    margin-left: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.quti{
    text-align: center;
    background-color: transparent;
    border: 1px solid black;
    box-shadow: 0px 0px 30px 0px black;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
    img{
        width: 100%;
    }
    p{
        color: white;
    }
}